body {
  padding: 0;
}

#seats,
#date-input,
#restaurantName,
#name-input {
  background-color: gray;
  border: none;
}

.circle {
  background: rgb(120, 118, 126);
  border-radius: 50%;
  color: white;
  height: 7rem;
  font-weight: bold;
  width: 7rem;
  display: inline-block;
  margin: 3%;
  overflow: auto;
  position: relative;
  border: none;
  outline: none !important;
  box-shadow: none;
}

.circle p {
  vertical-align: middle;
}
